.container, .content, .button, .container, body {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 2.8rem;
    height: 100vh;
    width: 100vw;
}

.container {
    height: 840px;
    width: 500px;
    padding: 1.2rem;
    border-radius: 50px;
    flex-direction: column;
    background-color: black;
}

.display {
    height: 15rem;
    width: 100%;
    text-align: right;
    padding: 1rem;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    overflow: hidden;
}
.previous-display {
    opacity: 0.5;
    font-size: 1.5rem;
    overflow: hidden;
}

.container .content {
    height: 540px;
    width: 440px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
}
.container .content .ac {
    background-color: #A5A5A5 !important;
    color: black !important;
}
.container .content .abs {
    background-color: #A5A5A5 !important;
    color: black !important;
}
.container .content .percent {
    background-color: #A5A5A5 !important;
    color: black !important;
}
.container .content :nth-child(4n):not(:last-child) {
    background-color: #F1A33C;
}
.container .content .button:hover {
    opacity: 0.5;
}
.container .content .button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #333333;
    color: white;
    transition: all 0.3s;
}
.container .content .num-0 {
    height: 100px;
    width: 215px;
    grid-column: 1/3;
    border-radius: 4rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 2.5rem;
    text-align: center;
}

@media (max-width: 600px) {
    body {
        font-size: 2rem;
    }
    .container {
        height: 640px;
        width: 370px;
    }

    .container .content {
        height: 440px;
        width: 340px;
    }

    .container .content .button {
        height: 73px;
        width: 73px;
    }

    .container .content .num-0 {
        height: 70px;
        width: 160px;
    }
}